<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!--#if DefaultFalse-->
        <add key="LocalNuGetFeed" value="../../../../LocalDev/LocalNuGetFeed" />
        <!--#else-->
        <add key="TOrgPackageSourceKey" value="TOrgPackageSourceValue" />
        <!--#endif -->
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <!--#if DefaultFalse-->
        <packageSource key="LocalNuGetFeed">
            <package pattern="TOrgName.*" />
        </packageSource>
        <!--#else-->
        <packageSource key="TOrgPackageSourceKey">
            <package pattern="TOrgName.*" />
        </packageSource>
        <!--#endif -->
    </packageSourceMapping>
    <!--#if DefaultFalse-->
    <disabledPackageSources>
        <add key="TOrgPackageSourceKey" value="true" />
    </disabledPackageSources>
    <!--#endif -->
</configuration>